.App {
  text-align: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */


ul {
  list-style-type: none;
}

li {
  text-align: left;
}

.chr-contain {
  background-color: rgba(255,255,255,0.5);
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}



.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes flash {
  0%, 50%, 100% {
     opacity: 1;
  }
  25%, 75% {
     opacity: 0;
  }
}

.flash {
  animation-name: flash;
}